.task-list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	.task {
		clear: both;
	}
	.img-circle {
		width: 34px;
		height: 34px;
		float: left;
		margin-right: 8px;
	}
	.task-info {
		margin-left: 10px;
		float: right;
		text-align: right;
		.task-due {
			margin-top: 3px;
		}
	}
}

.task-list.small-list {
	font-size: 12px;
}

.task-list.small-list > li {
	background: #fcfcfc;
	border-left: 3px solid $border-color;
	border-right: none;
	border-radius: 4px;
	color: inherit;
	margin-bottom: 2px;
	padding: 6px 6px 6px 12px;
}

.task-list.small-list .btn-xs, .task-list.small-list .btn-group-xs > .btn {
	border-radius: 5px;
	font-size: 10px;
	line-height: 1.5;
	padding: 1px 2px 1px 5px;
}

.task-list > li {
	background: $gray;
	border-left: 6px solid $border-color;
	border-right: 6px solid $border-color;
	border-radius: 4px;
	color: inherit;
	margin-bottom: 2px;
	padding: 10px;
}

.task-list .handle {
	cursor: move;
	display: inline-block;
	font-size: 16px;
	margin: 0 5px;
}

.task-list > li .label {
	font-size: 9px;
}

.task-completed {
	text-decoration: line-through;
}